<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} | [%t] %-5p | %-60c | %m (%F:%L)%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <Logger name="com.nnk.springboot" level="debug"/>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>
