<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Update New Rule</h2>
    </div>

    <div class="row">
        <form
                action="#"
                class="form-horizontal"
                method="post"
                style="width: 100%"
                th:action="@{/ruleName/update/{id}(id=${ruleName.id})}"
                th:object="${ruleName}"
        >
            <!--
            DONE: Create a form to edit the values of RuleName, there are 2 buttons: Update data and Cancel to the RuleName Done
             -->
            <Table>
                <tr style="display:none;">
                    <td for="id">id</td>
                    <td><input id="id" placeholder="Id" th:field="*{id}" type="text"></td>
                    <td th:errors="*{id}" th:if="${#fields.hasErrors('id')}"></td>
                </tr>
                <tr>
                    <td for="name">Name</td>
                    <td><input id="curveId" placeholder="Name" th:field="*{name}" type="text"></td>
                    <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></td>
                </tr>

                <tr>
                    <td for="description">Description</td>
                    <td><input id="description" placeholder="Description" th:field="*{description}" type="text"></td>
                    <td th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></td>
                </tr>
                <tr>
                    <td for="json">Json</td>
                    <td><input id="json" placeholder="Json" th:field="*{json}" type="text"></td>
                    <td th:errors="*{json}" th:if="${#fields.hasErrors('json')}"></td>
                </tr>
                <tr>
                    <td for="template">Template</td>
                    <td><input id="template" placeholder="Template" th:field="*{template}" type="text"></td>
                    <td th:errors="*{template}" th:if="${#fields.hasErrors('template')}"></td>
                </tr>
                <tr>
                    <td for="sqlStr">SqlStr</td>
                    <td><input id="sqlStr" placeholder="SqlStr" th:field="*{sqlStr}" type="text"></td>
                    <td th:errors="*{sqlStr}" th:if="${#fields.hasErrors('sqlStr')}"></td>
                </tr>
                <tr>
                    <td for="sqlPart">SqlPart</td>
                    <td><input id="sqlPart" placeholder="SqlPart" th:field="*{sqlPart}" type="text"></td>
                    <td th:errors="*{sqlPart}" th:if="${#fields.hasErrors('sqlPart')}"></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Cancel">
                    </td>
                    <td>

                        <input type="submit" value="Update RuleName">
                    </td>
                </tr>
            </Table>
        </form>
    </div>

</div>
</body>
</html>
